:root {
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  /* background-image: url("./assets/5.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgba(249, 249, 249);
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins";
}
